.grid-1 {
  display: grid;
  grid-template-columns: 30px;
  grid-template-rows: repeat(10, 30px);
  column-gap: 10px;
  row-gap: 8px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(10, 30px);
  column-gap: 10px;
  row-gap: 8px;
}

.ticket-btn {
    border-radius: 5px;
}