@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.font-raleway {
  font-family: "Inter", sans-serif;
}

.ticket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #0307121a;
  font-size: 18px;
  font-weight: 500;
  color: #03071280;
}

.seat-chr {
  font-size: 18px;
  font-weight: 500;
  color: #03071280;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-1 {
  display: grid;
  grid-template-columns: 56px;
  grid-template-rows: repeat(10, 56px);
  column-gap: 30px;
  row-gap: 27px;
  margin-right: 15px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 110px 110px;
  grid-template-rows: repeat(11, 56px);
  column-gap: 30px;
  row-gap: 27px;
}


